body {
  font-family: 'Cambay', sans-serif;
    background-color: #f1f2f3;
    background-image:
        -webkit-linear-gradient(0deg, transparent .05em, rgba(0,0,0,.05) .05em, rgba(0,0,0,.05) .125000em, transparent .125000em),
        -webkit-linear-gradient(rgba(0,0,0,.05) .062500em, transparent .062500em);
    background-image:
        -moz-linear-gradient(0deg, transparent .05em, rgba(0,0,0,.05) .05em, rgba(0,0,0,.05) .125000em, transparent .125000em),
        -moz-linear-gradient(rgba(0,0,0,.05) .062500em, transparent .062500em);
    background-image:
        -ms-linear-gradient(0deg, transparent .05em, rgba(0,0,0,.05) .05em, rgba(0,0,0,.05) .125000em, transparent .125000em),
        -ms-linear-gradient(rgba(0,0,0,.05) .062500em, transparent .062500em);
    background-image:
        -o-linear-gradient(0deg, transparent .05em, rgba(0,0,0,.05) .05em, rgba(0,0,0,.05) .125000em, transparent .125000em),
        -o-linear-gradient(rgba(0,0,0,.05) .062500em, transparent .062500em);
    background-image:
        linear-gradient(0deg, transparent .05em, rgba(0,0,0,.05) .05em, rgba(0,0,0,.05) .125000em, transparent .125000em),
        -o-linear-gradient(rgba(0,0,0,.05) .062500em, transparent .062500em);
    background-size: .75em .75em;
    background-position: 0 -0.5em;
}

header {
  margin: 5px 5px;
}
header section {
  border-bottom: 1px solid black;
  width: 100%;
  display: table;
}

.container{
    font-size: 12.5px;
    margin: 20px;
    width: auto;
    height: auto;
    border-style: solid;
    border-width: 2px;

}

.name-logo {
  background-image:url(../img/portrait.jpg) ;
  background-repeat:no-repeat;
  background-size:contain;
  background-position:left;
  /*border-right: 1px solid black;*/
  float: left;
    padding-bottom: 5px;
  width: 10%;
  min-height: 165px;

}

.resume-title{
    margin-top: 0px;

}

.contact-info {
  float: right;
  width: 40%;
    margin-top: -115px;

}


.contact-info ul {
  padding-left: 0;


}

.contact-info ul li {
  list-style-type: none;
    margin-top: -3px;



    /*border-bottom: 1px solid blue;*/
}

.contact-info ul li .contact-detail {
  text-align: right;
  float: right;
  margin-top: 7px;
}

article {
  margin: 0px 0px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

article section {
  -webkit-flex: 1 100%;
      -ms-flex: 1 100%;
          flex: 1 100%;
  margin: 0 10px;
}

.section-title {
  font-weight: 700;
  font-size: 14px;
    float: right;
    width: 81%;
}

.experience-title {
    font-weight: 700;
    font-size: 14px;

}


.section-body {
  padding-left: 2px;
}

ul.school {
    font-weight: bold;
  padding-left: 0;
    float: right;
    width: 80%;
}
ul.school-body {
    font-weight: normal;
    padding-left: 0px;
    margin-top: 0px;
    padding: 5px;


}

.section-body ul li, ul.school li {
  list-style-type: none;
  margin: 0px 0;


}

ul.school li .school-location {

}

ul.school li .school-years {
  float: right;

}

.job-title {
    font-weight: bold;
    white-space: nowrap;
    margin-top: -10px;
    width: 110%;



}

.split-jobs-section {


}

.job-details {
  -webkit-flex: 0 0 300px;
      -ms-flex: 0 0 300px;
          flex: 0 0 300px;
    font-weight: normal;
    padding-left: 0px;
}

.job-span {
    margin-top: 5px;
    text-align: right;
    float: right;
}


.split-jobs-section p {
    width: 100%;
    margin-top: -2px;
    margin-left: 25px;


}





/*.skills ul {
  column-count: 2;
}*/



.skillbar {
    position:relative;
    display:block;
    margin-bottom:5px;
    width:80%;
    float: right;
    background:#eee;
    height:27px;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    -webkit-transition:0.4s linear;
    -moz-transition:0.4s linear;
    -ms-transition:0.4s linear;
    -o-transition:0.4s linear;
    transition:0.4s linear;
    -webkit-transition-property:width, background-color;
    -moz-transition-property:width, background-color;
    -ms-transition-property:width, background-color;
    -o-transition-property:width, background-color;
    transition-property:width, background-color;
}

.skillbar-title {
    position:absolute;
    top:0;
    left:0;
    width:110px;
    font-weight:bold;
    color:#ffffff;
    background:#6adcfa;
    -webkit-border-top-left-radius:3px;
    -webkit-border-bottom-left-radius:4px;
    -moz-border-radius-topleft:3px;
    -moz-border-radius-bottomleft:3px;
    border-top-left-radius:3px;
    border-bottom-left-radius:3px;
}

.skillbar-title span {
    display:block;
    background:rgba(0, 0, 0, 0.1);
    padding:0 0px;
    height:27px;
    line-height:27px;
    text-align: center;
    vertical-align: middle;
    -webkit-border-top-left-radius:3px;
    -webkit-border-bottom-left-radius:3px;
    -moz-border-radius-topleft:3px;
    -moz-border-radius-bottomleft:3px;
    border-top-left-radius:3px;
    border-bottom-left-radius:3px;
}

.skillbar-bar {
    height:27px;
    width:0px;
    background:#6adcfa;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
}

.skill-bar-percent {
    position:absolute;
    right:10px;
    top:0;
    height:27px;
    line-height:35px;
    color:#ffffff;
    color:rgba(0, 0, 0, 0.4);
}

@media only screen and (max-width: 800px) {
  .contact-info, .name-logo {
    width: 100%;
  }
  .name-logo {
    margin-left: 25px;
  }
  .contact-info {
    margin-top: 10px;
  }
  article {
    display: block;
  }
  .split-jobs-section {
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  .job-details, .job-description {
    -webkit-flex: 1 100%;
        -ms-flex: 1 100%;
            flex: 1 100%;

  }
}
/*# sourceMappingURL=custom.css.map */
